.presentation {
    width: 1000px;
    margin-bottom: 150px;
}
.photo-nom {
    float: left;
    margin-right: 100px;
}
.photo-nom img {
    margin-left: 30px;
}
.poste {
    text-align: center;
}
.competences {
    text-align: center;
    width: 1000px;
    margin-left: 150px;
    margin-bottom: 150px;
}
.experiences {
   width: 1000px;
   margin-left: 150px;
   margin-bottom: 150px;
}
.experiences h2 {
    text-align: center;  
}
.liste-experiences {
    margin-left: 200px;
}

.contact {
    width: 1000px;
    margin-left: 150px;
    margin-bottom: 150px;
    
}
.contact h2 {
    text-align: center; 
}
.liste-contact {
    margin-left: 200px;
}
.contact h3 {
    text-align: center; 
}
.icone img {
    float: left;
    width: 30px;
    
}
.icone-car img {
    float: left;
    width: 50px;
  }
